
@font-face {
    font-family: 'formula1display-black';
    src: url('/assets/fonts/formula1-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/formula1-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'formula1display-bold';
    src: url('/assets/fonts/formula1-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/formula1-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'formula1display-regular';
    src: url('/assets/fonts/formula1-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/formula1-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/images/background\ image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1 {
    font-size: 50px;
}

/* MAIN HEADER */

.mainheader {
    font-family: 'formula1display-black';
    text-align: center;
    overflow: hidden;    
    background: #8E2424;
    background: linear-gradient(rgb(142,36,36, 0.95), rgb(120, 36, 36), rgb(142,36,36, 0.95)), url("/assets/images/mainheader-image.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-position-y: 392px;
    background-repeat: repeat-y;
    border: 1px solid black;
    padding-top: 20px;  
    padding-bottom: 20px;
}

/* NAVIGATION BAR */

.mainheader-title {
    font-size: 50px;
    color:black;
    text-decoration: none;
}

.nav-bar {
    overflow: hidden;
    background-color: #8E8E8E;
    border: 2px black solid;
}

.nav-bar a {
    font-size: 50px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'formula1display-bold';
}

.nav-bar a:hover {
    background-color: black;
    color: white;
}

.nav-bar-button {
    border: solid 1px black;
}

.title {
    font-size: 70px;
    font-family: 'formula1display-black';
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
    -webkit-text-stroke: 2px white;
}

.page-buttons-background {
    background-color:rgb(141,141,141, 0.6);
    width: 1810;
    height: auto;
    padding: 25px;
    margin: 50px;
    margin-top: 25px;
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
}


.page-buttons {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.page-buttons a {
    margin-left: auto;
    margin-right: auto;
    border: #8E8E8E 1px solid;
    border-radius: 25px;
    height: 500px;
}

.page-text-background {
    background-color: #8D8D8D;
    opacity: 75%;
    width: 1810;
    height: auto;
    padding: 25px;
    margin: 50px;
    margin-top: 25px;
    border-radius: 25px;
    border-color: white;
    border-width: 5px;
}

.standardtext {
    font-family: 'formula1display-black';
    color: white;
    -webkit-text-stroke: 2px black;
    margin-left: 10px;
    margin-right: 10px;
}

.standardtext p {
    font-size: 40px;
    font-family: 'formula1display-bold';
}

/* DRIVERS BOX AND PAGE */

.drivers-desc {
    background-color: #8D8D8D;
    opacity: 80%;
    border-radius: 20px;
    margin: 50px;
    padding-bottom: 25px;
}

.drivers-title {
    font-family: 'formula1display-bold';
    font-size: 50px;
    -webkit-text-stroke: 2.5px black;
    text-align: center;
    padding-top: 50px;
}

.drivers-columns {
    display: flex;
}

.drivers-stat {
    display: flex;
    opacity: 100%;
    height: auto;
    width: 750px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    margin: 50px;
}

.drivers-stat table td tr {
    margin: 20px;
    font-size: 30px;
    font-family: 'formula1display-regular';
    -webkit-text-stroke: black 1.5px;
    width: 350px;
}

.drivers-stat-right {
    text-align: right;
    width: 500px;
}

/* DRIVERS STATISTICS PAGE PICTURE-PORTRAIT */

.drivers-stats-pic {
    display: flex;
    opacity: 100%;
    height: auto;
    width: 750px;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    margin: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: flex-end;
}

#drivers-stats-lewis-hamilton {
    background-image:url("/assets/images/drivers-stats-lewis-hamilton.png");
}

#drivers-stats-george-russell {
    background-image:url("/assets/images/drivers-stats-george-russell.png");
}

#drivers-stats-max-verstappen {
    background-image:url("/assets/images/drivers-stats-max-verstappen.png");
}

#drivers-stats-sergio-perez {
    background-image:url("/assets/images/drivers-stats-sergio-perez.png");
}

#drivers-stats-charles-leclerc {
    background-image:url("/assets/images/drivers-stats-charles-leclerc.png");
}

#drivers-stats-carlos-sainz {
    background-image:url("/assets/images/drivers-stats-carlos-sainz.png");
}

#drivers-stats-lando-norris {
    background-image:url("/assets/images/drivers-stats-lando-norris.png");
}

#drivers-stats-daniel-ricciardo {
    background-image:url("/assets/images/drivers-stats-daniel-ricciardo.png");
}

#drivers-stats-fernando-alonso {
    background-image:url("/assets/images/drivers-stats-fernando-alonso.png");
}

#drivers-stats-lance-stroll {
    background-image:url("/assets/images/drivers-stats-lance-stroll.png ");
}

#drivers-stats-mercedes {
    background-image:url("/assets/images/teams-stats-mercedes.png");
}

/*DRIVERS STATISTICS BOX*/

.drivers-season {
    opacity: 100%;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 10px;
    margin: 50px;
    
}

.drivers-season-title {
    font-family: 'formula1display-bold';
    font-size: 30px;
    -webkit-text-stroke: black 1.5px;
    text-align: center;

}

.drivers-season-columns {
    height: auto;
    width: auto;
    margin: 20px;
    font-size: 30px;
    font-family: 'formula1display-regular';
    -webkit-text-stroke: black 1.5px;
    width: auto;
}

/* DRIVERS STATISTICS TABLE */

.drivers-season-columns table tr td{
    padding: 5px;
    width: 500px;
}

.drivers-season-columns tr:nth-child(even) {
    background-color: #c2c2c2;
  }

.drivers-season-columns tr {
    border-bottom: 1px solid #ddd;
  }

  .drivers-season-columns td:nth-child(even) {
      text-align: end;
      width: 1000px;
  }

  .drivers-season-columns td:nth-child(odd) {
    width: 90%;
}

.drivers-stat table tr td{
    padding: 5px;
    width: 500px;
}

.drivers-stat tr:nth-child(even) {
    background-color: #c2c2c2;
  }

.drivers-stat tr {
    border-bottom: 1px solid #ddd;
  }

  .drivers-stat td:nth-child(even) {
      text-align: end;
      width: 1000px;
  }

  .drivers-stat td:nth-child(odd) {
    width: 90%;
}


/* STATISTICS COLORS */
.drivers-stat-mercedes {
    color: #00FFF6;
    border-color:#00FFF6;
}

.drivers-stat-redbull {
    color: #0A0095;
    border-color:#0A0095;
}

.drivers-stat-ferrari {
    color: #FF0000;
    border-color:#FF0000;
}

.drivers-stat-mclaren {
    color: #FF6F00;
    border-color:#FF6F00;
}

.drivers-stat-alpine {
    color: #006FBA;
    border-color:#006FBA;
}

.drivers-stat-alphatauri {
    color: #01102F;
    border-color:#01102F;
}

.drivers-stat-aston-martin {
    color: #0A796A;
    border-color:#0A796A;
}

.drivers-stat-williams {
    color: #00A0DE;
    border-color:#00A0DE;
}

.drivers-stat-alfa-romeo {
    color: #4D0000;
    border-color:#4D0000;
}

.drivers-stat-haas {
    color: white;
    border-color:white;
}

.drivers-stat-racing-point {
    color: #F394C6;
    border-color:#F394C6;
}

.drivers-stat-renault {
    color: #FFFF00;
    border-color:#FFFF00;
}

.standings-stat {
    color:#8E2424;
    border-color:#8E2424;
}

.standings-stat-black {
    color: black;
}

.standings-stat-table {
    color: black;
    -webkit-text-stroke: 0px;
    font-size: 10px;
}

.standings-title {
    color: black;
    -webkit-text-stroke: white 1.5px;
}

/* STANDINGS BOX */

.standings-season-columns {
    height: auto;
    width: auto;
    margin: 20px;
    font-size: 30px;
    font-family: 'formula1display-regular';
    -webkit-text-stroke: black 1.5px;
    width: auto;
}

/* STANDINGS TABLE */

.standings-season-columns table tr td{
    padding: 5px;
    width: 100%;
}

.standings-season-columns tr:nth-child(even) {
    background-color: #c2c2c2;
  }

.standings-season-columns tr {
    border-bottom: 1px solid #dddd;
  }

  .standings-season-columns td {
    text-align: center;
}
  .standings-season-columns td:first-child {
    width: 5%;
}